body,html{
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

header{
    width: 100%;
    height: 70px;
    background-color: #222222;

}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #00a3e8;
}

span{
    color: #FFFFFF;
}

ul{
    width: auto;
    float: left;
    margin-top: 8px;
    margin-left: 200px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: #00a3e8;
    transition: 0.5s;

}

.back_transition{
    position: absolute;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: #555555;
}

.back_transition:hover{
    background-color: #999999;
    transition: 0.5s;
}

.userblock{
    position: absolute;
    right: 0;
    width: 82%;
    height: 100%;
    background-color: #dddddd;
}

.user_item{
    background: #dddddd;
    border: none;

}
.user_item:hover{
    background: #00a3e8;
    border: none;
    transition: 0.5s;
}

/*table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}*/

.hd{
    width: 780px;
    height: 438px;
}

table {
    background: #dddddd;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
  }

  
  td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
  }